.home-page-content {
    background: rgb(244, 244, 244)
}

.intro-container {
    border-radius: 25px;
    background: #FFFFFF
}

.app-caption {
    color: #387EF5;
    text-align: center;
    font-size: 1.5rem;
}